# Python/ML
__pycache__/
*.pyc
.venv/
venv/
*.pyd

# Jupyter
.ipynb_checkpoints/

# Datasets (garder SEULEMENT sample_bankruptcy_data.csv)
american_bankruptcy_dataset_enriched*.csv
data/
raw_data/

# Modèles (optionnel)
models/
*.joblib
*.pkl
*.h5

# Logs/Outputs
*.log
logs/
outputs/

# OS/IDE
.DS_Store
.vscode/
.idea/
